package main

import (
	"log/slog"
	"os"
	"runtime/debug"

	"github.com/jnovack/flag"
)

var (
	version      = "dev"
	buildRFC3339 = "1970-01-01T00:00:00Z"
	revision     = "local"
)

const (
	defaultVersion      = "dev"
	defaultBuildRFC3339 = "1970-01-01T00:00:00Z"
	defaultRevision     = "local"
)

func populateBuildMetadataFromBuildInfo() {
	info, ok := debug.ReadBuildInfo()
	if !ok {
		return
	}
	if version == defaultVersion && info.Main.Version != "" && info.Main.Version != "(devel)" {
		version = info.Main.Version
	}
	for _, setting := range info.Settings {
		switch setting.Key {
		case "vcs.revision":
			if revision == defaultRevision && setting.Value != "" {
				revision = setting.Value
			}
		case "vcs.time":
			if buildRFC3339 == defaultBuildRFC3339 && setting.Value != "" {
				buildRFC3339 = setting.Value
			}
		}
	}
}

func main() {
	populateBuildMetadataFromBuildInfo()

	fs := flag.NewFlagSetWithEnvPrefix(os.Args[0], "", flag.ExitOnError)

	showVersion := fs.Bool("version", false, "Print version information and exit")
	logLevel := fs.String("log-level", "info", "Log level (debug, info, warn, error)")

	_ = fs.Parse(os.Args[1:])

	if *showVersion {
		slog.Info("{{APPLICATION}}", "version", version, "build_rfc3339", buildRFC3339, "revision", revision)
		os.Exit(0)
	}

	var level slog.Level
	if err := level.UnmarshalText([]byte(*logLevel)); err != nil {
		level = slog.LevelInfo
	}
	slog.SetDefault(slog.New(slog.NewJSONHandler(os.Stderr, &slog.HandlerOptions{Level: level})))

	slog.Info("{{APPLICATION}} starting",
		"version", version,
		"build_rfc3339", buildRFC3339,
		"revision", revision,
	)

	// TODO: application logic here
}
